@font-face {
	font-family: Inter;
	src: url('InterVariable.woff2');
	font-display: swap;
}

*, *:before, *:after {
	box-sizing: border-box;
	font-family: inherit;
}

:root, ::backdrop {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 18px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--compact-ui: 0;

	
	--current-period-border-radius: 0.3rem;
	--current-period-border-width: 0.15rem;
	--elapsed-remaining-divider-thickness: 0.1rem;
	--table-divider-thickness: 0.05rem;

	/* Colors */
	--foreground: black;
	--background: white;
	--time-elapsed: var(--foreground);
	--time-remaining: var(--foreground);
	--elapsed-remaining-units: #0005;
	--elapsed-remaining-labels: #0008;
	--elapsed-remaining-separator: #DDD;
	--period-dividers: #BBB;
	--current-period-background: hsla(118, 100%, 60%, 0.5);
	--current-period-stripe-background2: hsla(118, 77%, 50%, 0.5);
	--current-period-border: hsl(118, 60%, 60%);

	--options-menu-background: var(--background);
	--button-background: #F4F4F4;
	--button-border: #CCC;
	--button-hover-background: var(--button-border);
	--dialog-backdrop: #6665;
	--dialog-blur: 1rem
}

body {
	display: grid;
	place-items: center;
	margin: 0;
	background-color: var(--background);
	color: var(--foreground);
	height: 100svh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 30rem;
	max-height: 50rem;
}

button {
	-webkit-tap-highlight-color: transparent;
}

/* -------------------------------------------------------------------------- */
/*                                 top section                                */
/* -------------------------------------------------------------------------- */
#top-section {
	height: 10rem;
	display: grid;
	place-items: center;
	width: 100%;
	flex-shrink: 0;
}

#top-section > * {
	width: 100%;
}

#no-school-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.35rem;
}

#no-school-message {
	font-weight: 500;
	font-size: 1.2rem;
}

/* -------------------------------------------------------------------------- */
/*                               Bottom Section                               */
/* -------------------------------------------------------------------------- */
#bottom-section {
	display: flex;
	width: 100%;
	padding-inline: 1rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

#bottom-section > * {
	display: grid;
	place-items: center;
	flex-shrink: 0;
}

#a-day-b-day {
	font-size: 2.4rem;
	font-weight: 600;
	width: 3.6rem;
	text-align: left;
}

#schedule-name-display {
	width: 100%;
	background: transparent;
	border: none;
	font-size: 1rem;
	flex-shrink: 1;
}

.open-options-menu-button {
	background-color: transparent;
	border: none;
	width: 3.6rem;
}

/* -------------------------------------------------------------------------- */
/*                       time elapsed, remaining display                      */
/* -------------------------------------------------------------------------- */
#time-elapsed-remaining-container {
	display: flex;
	align-items: center;
}

#time-elapsed {
	color: var(--time-elapsed)
}

#time-remaining {
	color: var(--time-remaining)
}

.vertical-separator {
	display: block;
	width: var(--elapsed-remaining-divider-thickness);
	height: 5rem;
	background-color: var(--elapsed-remaining-separator);
}

.elapsed-remaining-boxes {
	width: 100%;
	display: flex;
	place-items: center;
	flex-direction: column;
	gap: 1rem;
}

.elapsed-remaining-numbers {
	font-size: 5rem;
	line-height: 0.8;
}

.elapsed-remaining-units {
	font-size: 3rem;
	line-height: 0.8;
	color: var(--elapsed-remaining-units);
}

.elapsed-remaining-label {
	color: var(--elapsed-remaining-labels);
}

/* -------------------------------------------------------------------------- */
/*                             bell schedule table                            */
/* -------------------------------------------------------------------------- */

#bell-schedule-table {
	width: calc(80% + 2rem);
	margin-inline: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#bell-schedule-table-header-row {
	font-weight: 700
}

#bell-schedule-table hr {
	outline: var(--table-divider-thickness) solid var(--period-dividers);
	border: none;
	margin: 0;
	z-index: -20;
}

#bell-schedule-table > .actual-row, #bell-schedule-table > #bell-schedule-table-header-row {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

#bell-schedule-table > * > *:nth-child(2) {
	width: 100%;  /* Make the center column as wide as possible to move side columns outward */
}

#bell-schedule-table > * > * {
	width: 9rem;
	text-align: center;
}

.current-period-rect {
	background-color: var(--current-period-background);
	position: absolute;
	outline: var(--current-period-border-width) solid var(--current-period-border);
	border-radius: var(--current-period-border-radius);
	z-index: -1;
	transition: all 300ms ease-in-out;
}

.current-period-rect.passing {
	padding-block: 0;
	background: var(--background);
}

@keyframes barberpole {
	from {
		background-position: 100% 100%;
	}
}

.current-period-rect.passing::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: repeating-linear-gradient(-45deg, var(--current-period-background), var(--current-period-background) 10px, var(--current-period-stripe-background2) 10px, var(--current-period-stripe-background2) 20px);
	z-index: -10;
	background-size: 200% 200%;
	animation: barberpole 10s linear infinite;
}

/* -------------------------------------------------------------------------- */
/*                                options menu                                */
/* -------------------------------------------------------------------------- */

dialog {
	width: calc(min(100vw, 30rem) - 2rem);
	border: none;
	border-radius: clamp(1rem, calc(10vw - 0.5rem), 2rem);
	height: calc(100vh - 2rem);
	background-color: var(--options-menu-background);
	color: inherit;
	padding: 0;
}

dialog::backdrop {
	background: var(--dialog-backdrop);
	backdrop-filter: blur(var(--dialog-blur));
}

#options-menu {
	padding: 1.5rem;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

#options-menu-open-button {
	opacity: 0.4
}

#options-menu-close-button {
	opacity: 0.8;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
}

#options-menu-close-button:hover {
	background: var(--button-hover-background)
}

#options-menu > .bottom-section {
	text-align: center;
	/* Flexbox ftw */
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}


#options-menu section {
	margin-bottom: 1rem;
}

#options-menu section > div {
	display: flex;
	gap: 0.2rem
}

#options-menu h2 {
	margin: 0;
	font-size: 1.4rem
}

#theme-customization-menu {
	flex-direction: column;
}

#theme-customization-menu > .color-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8.6rem, 1fr));
	gap: 0.2rem;
}

#theme-customization-menu .color-container > button {
	padding-block: 0.5rem
}

button {
	background-color: var(--button-background);
	border: 0.1rem solid var(--button-border);
	border-radius: 0.5rem;
	padding: 0.4rem;
	color: inherit;
}

button:hover {
	background-color: var(--button-hover-background);
	cursor: pointer
}

.color-picker > .range-container {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 0.2rem
	
}

.color-picker > * {
	width: calc(80% + 2rem);
	margin-inline: auto;
	display: block
}

.color-picker .accept-button {
	margin-bottom: 1rem;
	padding-block: 0.7rem
}

.color-picker input {
	margin-bottom: 1rem;
}

.color-picker {
	width: 100%
}

.radio-button.active {
	background-color: var(--current-period-background);
	border-color: var(--current-period-border);
}

.slightly-hidden {
	opacity: 70%
}

svg {
	width: 2.5rem
}

a {
	color: #1c6ce4;
	text-decoration: none;
}

/* Reset styles */
input[type="range"] {
	-webkit-appearance: none;
	-appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
	background: #8885;
	height: 0.3rem;
	border-radius: 999px;
}

input[type="range"]::-moz-range-track {
	background: #8885;
	height: 0.3rem;
	border-radius: 999px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	--track-height: 0.3rem;
	--size: 0.9rem;
	width: var(--size);
	height: var(--size);
	margin-top: calc(var(--track-height) / 2 - var(--size) / 2);
	background: rgb(0, 94, 255);
	border-radius: 999px;
}

input[type="range"]::-moz-range-thumb {
	border: none;
	border-radius: 999px;
	background: rgb(0, 94, 255);
	width: 0.9rem;
	height: 0.9rem;
}